.search-bar {
  height: 50px;
  width: 550px;
  margin: 1.5rem;
  padding-left: 35px;
  border-radius: 7px;
  outline-offset: 1px solid red;
}

.table-data {
  width: 100%;
  overflow-x: auto;
}

.head-bar {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
}

.btn-add {
  margin-top: 20px;
}

table {
  width: 100%;

}

.search-feild {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: whitesmoke;
}

.input-feild {
  width: 600px;
  height: 50px;
  padding: 5px;
}

tr {
  border-bottom: 1px solid greenyellow;
  line-height: 3;
}

.search-input {
  display: flex;
  justify-content: space-around;
}

th {
  background-color: white;
  color: blue;
}

.field {
  padding: 10px;
}

label {
  width: 120px;
  margin: 10px
}

.blue {
  /* color: blue; */
  font-weight: bold;
}

/* .slect_field{
  display: flex;
} */

.form-input {
  height: 2rem;
  width: 200px;
  border-radius: 3px;
  border: 1px solid blue;

}

.gender-label {
  padding-left: 10px;
}

.form-select {
  width: 200px;
  height: 2.2rem;
  border: 1px solid blue;
  padding-right: 20px;
  border-radius: 3px;
}
.no-data{
  display: flex;
  justify-content: center;
  color: red;
}

.rounder-center{
  height: 50px;
  width: 50px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50,-50);

}
.star-red{
  color: red;
}

.error{
  color: red;
  padding-left: 9rem;
}
.search-icon{
  position: relative;
left: 55px;
}




/* tr:nth-child(odd) {
  background-color: whitesmoke;
  width: 100%;
} */